<p style="color: green"><%= notice %></p>

<% content_for :title, "Tarefas" %>

<%= link_to "Nova Tarefa", new_tarefa_path, class: "btn btn-primary" %>

<div id="tarefas">
  <table style="width: 100%; border-collapse: collapse;">
    <thead>
      <tr>
        <th style="border-bottom: 1px solid #ccc;">Título</th>
        <th style="border-bottom: 1px solid #ccc;">Feita?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @tarefas.each do |tarefa| %>
        <tr>
          <td><%= tarefa.titulo %></td>
          <td><%= tarefa.concluida? ? "✅" : "❌" %></td>
          <td><%= link_to "Editar", edit_tarefa_path(tarefa) %> | <%= link_to "Deletar", tarefa, method: :delete, data: { confirm: "Tem certeza?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
